@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 768px) /*Celular*/ {
    * {
        margin: 0;
        padding: 0;
    }

    div#carouselExampleCaptions {
        width: 100%;
        margin: auto;
    }

    header {
        height: 90vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.5)), url(../imagens/blackpink\ header.jpg);
        background-size: cover;
    }

    main > section > div#historia > h1 {
        
    }
}